.app-aside-fixed .aside-wrap {
	overflow: auto!important;
  padding-bottom: 50px;
}

.app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap:hover {
	width: 270px;
}
.app-aside-fixed.app-aside-folded .aside-wrap .navi-wrap {
	width: auto;
	overflow-y: hidden;
}

#style-7::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
  border-radius: 8px;
}

#style-7::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

#style-7::-webkit-scrollbar-thumb
{
  border-radius: 8px;
  background-image: -webkit-gradient(linear,
                     left bottom,
                     left top,
                     color-stop(0.44, rgb(15,34,51)),
                     color-stop(0.86, rgb(28,58,148)),
                     color-stop(0.72, rgb(73,125,189)));
}